.htaccess
robots.txt
sitemap.xml
test.php
.vscode/settings.json

# MySQL
db/

# composer
vendor/

# themes
wp-content/themes/twentytwentyfour/
wp-content/themes/twentytwentythree/
wp-content/themes/twentytwentytwo/