/* ログインページ スタイルシート */


/* コンテンツ */
.contents {
    background: #f0ece5;
}

/* トップ バナー */
.top-banner {
    background: #fff;
}

/* -------- メイン --------- */
h3 {
    color: #5d6163;
    height: 2.5rem;
    border-bottom: solid 2px #707070;
}