/* サークル作成ページのスタイルシート */
.mainarea {
    max-width: 590px;
    min-height: 50px;
    background-color: #FBF6EC;
    padding: 25px 30px;
    margin: 0 auto;
    border-radius: 10px;
    filter: drop-shadow(0 3px 3px #d5d5d5);
}

/* trix.js */
trix-toolbar .trix-button--icon {
    width: 1.9em !important;
}

/* Trix Editor 本文中の見出し */
trix-editor h1 {
    padding-left: 10px;
    border-left: solid 3px #9AC629;
    color: var(--main-h1-font-color);
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 12px 0;
}