/* 活動一覧ページ スタイルシート */


.top{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 270px;
    background: #F0ECE5;
    filter: drop-shadow(0 3px 3px #d5d5d5);
}
.filter{
    margin-top: 50px;
}
.title{
    margin-top: 100px;
}
.title h1{
    text-align: center;
    color: #595959;
}

/* この条件で検索する */
.dropdown{
    margin: 10px 5px;
}

.search-input{
    max-width: 300px;
    min-width: 200px;
    margin: 0 auto;
}

.search-settings{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label.tag{
    margin: 10px 5px;
}

/* 記事カード */
.card-link{
    position: relative;
}

.card-link:hover{
    filter: drop-shadow(0 3px 6px #B1B0B0);
}

.card-link a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* ページネーション */
.page{
    width: 100%;
    background: #ECDDC1;
    padding: 30px 0;
}
ul.pagination{
    justify-content: center;
    margin: 0;
}

@media screen and (max-width: 991px){
    .line-clamp-3{
        -webkit-line-clamp: 1 !important;
    }
}

@media screen and (max-width: 900px){
    /* トップ */
    .title{
        grid-row: 1;
        grid-column: 1 / 2;
        margin-top: 40px;
    }
    .filter{
        grid-row: 2;
        grid-column: 1 / 4;
        margin-top: 0px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 500px){
    /* トップ */
    .top{
        height: 300px;
    }
    /* カードのスタイルをモバイル版に変更する */
    .activity-card{
        width: 100% !important;
        margin: 0 0 10px 0;
    }
    .text-overflow{
        -webkit-line-clamp: 1;
    }
    .content{
        height: 109px;
    }
    .content img{
        width: 104px;
        object-fit: cover;
    }
}