.txt-subject {
  color: #212529;
  margin-top: 60px;
  margin-bottom: 36px;
  font-weight: normal;
}

form {
  margin: auto;
  z-index: 100;
  background-color: #f3f0ea;
  border-radius: 10px;
  filter: drop-shadow(0 3px 3px #b1b0b0);
}

.wrapper-name {
  display: flex;
  justify-content: space-between;
}

.discord-button {
  display: flex;
  gap: 6px;
  width: max-content;
  height: 40px;
  padding: 10px 13px;
  border-radius: 5px;
  background-color: #5865f2;
}
.discord-button img {
  flex: 1;
  display: block;
  height: 100%;
}
.discord-button p {
  margin: 0;
  line-height: 1.2;
}
