/* ヘッダー スタイルシート */


body {
    margin: 0px;
    padding-top: 54px;
    /* ダブルタップズーム無効 */
    touch-action: manipulation;
    /* フッター最下部固定 */
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
}

/* 最大幅をsmに合わせる 汎用クラス */
.max-width-sm {
    max-width: 576px !important;
}

/* 最大幅をmdに合わせる 汎用クラス */
.max-width-md {
    max-width: 768px !important;
}

/* 最大幅をlgに合わせる 汎用クラス */
.max-width-lg {
    max-width: 992px !important;
}

/* 最大幅をxlに合わせる 汎用クラス */
.max-width-xl {
    max-width: 1200px !important;
}

/* ヘッダー */
header {
    z-index: 1000;
}

.navbar-toggler-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4NCiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTIuNSAxMmEuNS41IDAgMCAxIC41LS41aDEwYS41LjUgMCAwIDEgMCAxSDNhLjUuNSAwIDAgMS0uNS0uNXptMC00YS41LjUgMCAwIDEgLjUtLjVoMTBhLjUuNSAwIDAgMSAwIDFIM2EuNS41IDAgMCAxLS41LS41em0wLTRhLjUuNSAwIDAgMSAuNS0uNWgxMGEuNS41IDAgMCAxIDAgMUgzYS41LjUgMCAwIDEtLjUtLjV6Ii8+DQo8L3N2Zz4=) !important;
}