.circle_head_text {
    font-size: 24px;
}

/* Icons */
.icon {
    font-family: "bootstrap-icons";
}

.icon.journal-bookmark-fill::before {
    content: "\F43C";
    font-weight: normal;
}

.icon.person-fill::before {
    content: "\F43C";
    font-weight: normal;
}

.icon.twitter::before {
    content: "\F5EF";
    font-weight: normal;
}

.icon.envelope-fill::before {
    content: "\F32C";
    font-weight: normal;
}

/* ヘッダー画像 */
.top-image {
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 0;
}

.top-image::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: inherit;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    margin: -20px;
    z-index: -1;
}

.top-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.top-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.top-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0%) 28%, rgb(0 0 0 / 20%) 55%, rgb(0 0 0 / 34%) 80%);
}

.top-image p {
    position: relative;
    padding: 0;
    margin: 0;
}

.top-image .top-text {
    font-size: 30px;
    color: white;
    margin-left: 20px;
    bottom: 30%;
    width: 80%;
    z-index: 1;
}

/* サークル基本情報 */
.top-sub-text {
    margin: auto;
    text-align: center;
}

.top-sub-text * {
    box-sizing: border-box;
}

.top-sub-text ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-sub-text ul li {
    width: 48%;
    padding: 0 10px;
}

.top-sub-text .line {
    background: url("../src/line.png") no-repeat right 0;
}

.top-sub-text h2 {
    font-size: 22px;
    font-weight: normal;
}

.top-sub-text p {
    font-size: 18px;
    font-weight: bold;
}

/* 活動記録 */
.act-card {
    height: 130px;
}

.overview {
    min-height: 134px;
}

.overview p {
    font-size: 16px;
}

/* 活動内容 */

.activity-content p {
    font-size: 16px;
}

.activity-content img {
    width: inherit;
    height: auto;
}

.activity-content h1 {
    font-size: 23px;
}

.activity-posts img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem 0 0 0.25rem;
}
  

/* サイドバー */
.toc {
    position: sticky;
    top: 200px;
    right: 10px;
    background: inherit;
    padding: 10px;
    white-space: nowrap;
    background-color: #e3d0b8;
    text-align: center;
    border-radius: 20px;
    width: 300px;
    margin: 0 auto;
    color: #707070;
}

.toc div {
    margin: auto;
}


/* メニュー */
.menu-link {
    display: flex;
    width: 230px;
    height: 56px;
    line-height: 50px;
    background-color: #f68c22;
    border-radius: 100vh;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}

/* モバイル版　メニュー */
.mobile-menu-link {
    height: 56px;
    line-height: 50px;
    background-color: #f68c22;
    border-radius: 100vh;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.toc a {
    display: block;
    text-decoration: none;
}

.menu-link:hover {
    filter: drop-shadow(0px 3px 3px #686868);
}

/* サークル情報 */
table tbody tr th {
    width: 30%;
}

/* 特色バッジ */
.features {
    font-size: 14px !important;
}

/* Trix Editor 本文中の見出し */
.activity-content h1 {
    padding-left: 10px;
    border-left: solid 3px #9AC629;
    color: var(--main-h1-font-color);
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 12px 0;
}

/* Trix Editor 画像サイズ */
.activity-content img {
    width: 100% !important;
    height: auto;
}


@media (max-width: 767px) {
    .top-image {
        position: relative;
        height: 144px;
    }

    .top-image p {
        width: 100%;
        position: relative;
        padding: 0;
        margin: 0;
    }

    .top-image .top-text {
        font-size: 20px;
        color: white;
        margin-left: 20px;
        bottom: 30%;
        width: 80%;
    }

    .top-image img {
        object-fit: cover;
    }

    .top-sub-text {
        text-align: center;
    }

    .top-sub-text * {
        box-sizing: border-box;
    }

    .top-sub-text ul {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .top-sub-text ul li {
        width: 48%;
        padding: 0 10px;
    }

    .top-sub-text .line {
        background: url("../src/line.png") no-repeat right 0;
    }

    .top-sub-text h2 {
        font-size: 18px;
    }

    .top-sub-text p {
        font-size: 14px;
        font-weight: bold;
    }

    .mobile-nav a {
        text-decoration: none;
    }
    .information table {
        width: 100%;
    }
}

