/* フッター スタイルシート */


footer {
    z-index: 1000;
    background: #353535;
    word-break: keep-all;
}

footer a {
    color: #EEEEEE;
    text-decoration: none;
}

footer a:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-caret-right-fill" viewBox="0 0 16 16"><path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>');
}

.footer-top {
    padding: 60px;
    text-align: left;
    color: #aaa;
}

.footer-bottom h6 {
    color: #828282;
}

.footer-links {
    display: block;
    margin-left: auto;
    margin-right: auto;
}