.txt-subject{
    color: #212529;
    margin-top: 60px;
    margin-bottom: 36px;
    font-weight: normal;
}

form{
    margin:auto;
    z-index: 100;
    background-color: #fbf6ec;
    border-radius: 10px;
    filter: drop-shadow(0 3px 3px #868684);
}


.wrapper-name{
    display:flex;
    justify-content: space-between;
}

.botton-edit{
    margin-bottom: 130px;
}