/* フッター スタイルシート */


footer {
    z-index: 1000;
    background: #353535;
    word-break: keep-all;
}

footer p {
    display: inline-flex;
    align-items: center;
}

footer p:before {
    font-family: "bootstrap-icons";
    content: "\F231";
    margin-right: 3px;
}

footer a {
    color: #EEEEEE;
    text-decoration: none;
}

.footer-top {
    padding: 60px;
    text-align: left;
    color: #aaa;
}

.footer-bottom h6 {
    color: #828282;
}

.footer-links {
    display: block;
    margin-left: auto;
    margin-right: auto;
}