/* サンクスページ スタイルシート */


/* コンテンツ */
.contents{
}

.main{
    background: #f0ece5;
}

.contact-message-container{
    padding: 7%;
}

.contact-message-wrapper{
    text-align:center;
 
}

.contact-main-message{
    color: #899099;
}

.contact-body-message{
    color: #899099;
    line-height: 1.8;
    margin-top: 20px;
}

.contact-message-wrapper img{
    height: 120px;
    /* width: 100px; */
}