.title-color {
    color: #5C9905;
}

.title {
    width: 100%;
    height: 200px;
    background: #FCFAE3;
}

.thumb {
    height: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.post-img {
    width: 100%;
    max-width: 400px;
}

.twitter-tweet-button {
    flex: 1;
    padding-left: 10px;
}

.foot {
    width: 100%;
    height: 110px;
    background: #ECDDC1;
}

.detail {
    max-width: 600px !important;
    margin: 0 !important;
}

/* Trix Editor 本文中の見出し */
.detail h1 {
    padding-left: 10px;
    border-left: solid 3px #9AC629;
    color: var(--main-h1-font-color);
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 12px 0;
}

/* Trix Editor 画像サイズ */
.detail img {
    width: 100% !important;
    max-width: 600px;
    height: auto;
}