/* お問い合わせページ スタイルシート */

/* コンテンツ */
.contents {
    background: #f0ece5;
}

#contact-top img {
    height: 200px;
    object-fit: cover;
    filter: brightness(0.5);
}

.ONE{
    position:relative;
}

.TWO{
    position:absolute;
  top:50px;
  translate:middle;
}

.THREE{
    text-align:center;
   margin: 0 auto;
   color:white;
}

.FOUR{
    margin:0 auto;
    max-width: 920px;
}

.FIVE{
    margin-left:10px;
}

.SIX_QUE{
    margin:0 auto;
    padding-top: 85px;
    padding-bottom: 95px;
}

.SEVEN_mail{
    padding-top: 64px;
    padding-bottom: 64px;
}

.required_box{
    display: flex;
}

.top_button{
    float: left;
}

.send_button{
    float:right;
    
}