/* faqページ スタイルシート */

/* contents */
#contents {
    background: #f0ece5;
}

/* faq top */

#faq-main-contents h3{
    font-family: sans-serif;
}

#faq-top img {
    height: 200px;
    object-fit: cover;
    filter: brightness(0.5);
}

/* questions and answers */
#faq-main-contents {
    max-width: 1024px;
}

/* category h1 */
#faq-main-contents div h3 {
    color :#8BB61E !important;
}
