body{
    margin: 0px;
}

/* ヘッダー */


/* コンテンツ */
.contents{
}

.top{
    position: relative;
    height: 500px;
    background: #8591ca;
}
.main{
    height: 600px;
    background: #a03191;
}

/* 登録フォーム */
.register{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 400px;
    border-radius: 10px;
    background: #fff;
    padding: 20px;
}
.register p{
    margin: 5px 0 5px 0;
}
.register input{
    margin-bottom: 15px;
}
.register button{
    display: block;
    margin: 0 auto;
}

/* フッター */
footer{
    height: 100px;
    background: #353535;
}