body{
    margin: 0px;
}

/* ヘッダー */


/* コンテンツ */
.contents{
}

.top{
    position: relative;
    height: 500px;
    background: #8591ca;
}
.main{
    height: 600px;
    background: #F0ECE5;
}

/* 登録フォーム */
.register{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 400px;
    border-radius: 10px;
    background: #fff;
    padding: 20px;
}
.register p{
    margin: 5px 0 5px 0;
}
.register button{
    display: block;
    margin: 0 auto;
}

/* -------- メイン --------- */
/* サークルカテゴリ */
.contents_circle_all{
    display: flex;
    width: 500px;
    margin: auto;
}

.contents_circle{
    float: left;
    width: 150px;
    height: 100px;
    /* background-color: aqua;*/
    margin: 5px 8px;

}


.picture img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    margin-bottom: 5px;
}

.picture-type{
    position: relative;
    z-index: 1;
    text-align:center;
    /* transform: rotate(45deg); */
    font-weight: bold;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #707070;
    /* background-color: chocolate; */
}

.picture-type::before{
    z-index: -1;
    transform: skewX(45deg);
    content: ""; /*ボックスを作る*/
    position: absolute; /*ポジションで中央に配置*/
    top: 0; bottom: 0; left: 0; right: 13;
    border-right-style: solid;
    border-color: #707070;
    border-width: 1px;
}


/* フッター */
footer{
    height: 100px;
    background: #353535;
}