/* 登録ページ スタイルシート */


/* コンテンツ */
.contents {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* -------- メイン --------- */

/* ログインフォーム */
#form-login > form {
    z-index: 100;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 3px 6px 9px 0px rgba(31, 194, 255, 0.36);
}