/* お問い合わせページ スタイルシート */

/* コンテンツ */
.contents {
    background: #f0ece5;
}

#contact-top img {
    height: 200px;
    object-fit: cover;
    filter: brightness(0.5);
}

.ONE{
    position:relative;
}

.TWO{
    position:absolute;
  top:50px;
  translate:middle;
}

.THREE{
    text-align:center;
   margin: 0 auto;
   color:white;
}

.FOUR{
    margin: 0 0 0 10px;
}

.required_box{
    display: flex;
}

.top_button{
    float: left;
}

.send_button{
    float:right;
    
}