.main{
    max-width: 830px !important;
    margin-top: 4vw;
}

.main h2{
    font-weight: normal;
    text-align: center;
}

.main p{
    text-align: center;
}

.management-card:hover,
.create-circle:hover{
    filter: drop-shadow(0 3px 6px #B1B0B0);
}

.main-first, .main-second{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-second{
    padding: 1vw 0 50px 0;
}

/* 記事の投稿数 */
.posts-number{
    width: 270px;
    height: 105px;
    border-radius: 12px;
    filter: drop-shadow(0 3px 3px #B1B0B0);
    background: #F3F0EA;
}

.posts-number p{
    text-align: left;
    font-size: 1.2rem;
}

.number{
    color: #0088FF;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

/* サークルを作成する */
.create-circle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 295px;
    height: 105px;
    border-radius: 12px;
    filter: drop-shadow(0 3px 3px #B1B0B0);
    background: #F3F0EA;
}

.create-circle h4,
.management-card h4{
    font-weight: normal;
}

.create-circle .icon{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #DC963A;
    text-align: center;
    padding: 7px 0;
}

.create-circle .icon span::before{
    font-family: "Material Icons Outlined";
    content: "\f233";
    font-size: 2.4rem;
    color: #f2f0ea;
}

/* 項目 */
.management-card{
    display: flex;
    justify-content: space-around;
    width: 380px;
    height: 223px;
    border-radius: 12px;
    filter: drop-shadow(0 3px 3px #B1B0B0);
    background: #F3F0EA;
    padding: 30px 20px;
    margin: 10px 0;
}

.management-card .main-icon{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.management-card .title p{
    color: #5D6163;
    text-align: left;
    padding: 0 10px;
}

.icon-activity,
.icon-news,
.icon-circle,
.icon-article{
    grid-row: 2 / 3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #DC963A;
    text-align: center;
    padding: 20% 0;
}

.icon-activity span::before,
.icon-news span::before,
.icon-circle span::before,
.icon-article span::before{
    font-family: "Material Icons Outlined";
    font-size: 2.5rem;
    color: #f2f0ea;
}

.icon-activity span::before{
    content: "\e865";
}

.icon-news span::before{
    content: "\ef42";
}

.icon-circle span::before{
    content: "\f02e";
}

.icon-article span::before{
    content: "\e02f";
}

.management-card.settings{
    width: 100%;
    height: unset;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:800px){
    .management-card{
        width: 100%;
        height: 130px;
        justify-content: space-between;
        padding: 20px 20px;
    }

    .icon-activity,
    .icon-news,
    .icon-circle,
    .icon-article{
        width: 72px;
        height: 72px;
        padding: 7px 0;
    }
}

@media screen and (max-width:500px){
    .posts-number{
        width: 100%;
    }

    .create-circle{
        width: 100%;
    }
}